### Eclipse ###
.classpath
.project
.settings
/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### NetBeans ###
nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

### JRebel ###
rebel.xml

### Maven ###
target/
.mvn/

### Gradle ###
.gradle/
*/build/
gradlew
gradlew.bat

#### Misc ####
logs/
log/
*.log
*.DS_Store
*.war
*.ear
META-INF/
arthas-output/
.vscode/

#### Bower, NPM ####
node_modules/
bower_components/
dist/

### Tmp ###
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
*.bak
*.tem
*.temp
#.swp
*.*~
~*.*
dependency-reduced-pom.xml
*.jar